footer{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 25px 0px 10px 0px;
    overflow: hidden;
}
.logo{
    margin-top: 15px;
    max-width: 100%;
}
footer p{
    line-height: 26px;
    font-size: 16px;
    text-transform: capitalize;
    color: #787878;
    margin-top: 20px;
}
.social{
    margin-top: 20px;
}
.social ul{
    padding: 0;
}
.social ul li{
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    margin-right: 8px;
    line-height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.social ul li:first-child{
    background-color: #70aad7;
    border: 1px solid #70aad7;
}
.social ul li:nth-child(2){
    background-color: #23292f;
    border: 1px solid #23292f;
}
.social ul li:nth-child(3){
    background-color: #a24ace;
    border: 1px solid #a24ace;
}
.social ul li:nth-child(4){
    background-color: #c49727;
    border: 1px solid #c49727;
}
.social ul li a{
    color: #fff;
    display: block;
}
.social ul li:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
footer h3{
    color: #000;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 15px;
}
footer ul{
    padding: 0;
    margin-top: 30px;
}
footer ul li{
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 15px;
    list-style-type: none;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
footer ul li a{
    text-decoration: none;
    color: #787878;
    display: block;
}
footer ul li:not(.social ul li):hover a{
    color: #008000;
}
footer ul li:not(.social ul li):hover{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
.line{
    width: 100%;
    height: .3px;
    background-color: #ccc;
    margin: 20px 0px;
}
footer span{
    color: #787878;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    margin-top: 20px;
}
.payment{
    max-width: 100%;
    margin-top: 20px;
}