.features{
    background-color: #f9f5f0;
    border: 1px solid #f9f5f0;
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.features .features-list{
    display: inline-block;
    animation: movex 12s ease-in-out infinite;
    -webkit-animation: movex 12s ease-in-out infinite;
}
.features:hover .features-list{
    animation-play-state: paused;
}
.features .features-list .features-box{
    display: inline-block;
    margin: 10px 20px;
    width: auto;
}
.features .features-list .features-box i{
    color: #8e7e3a;
    font-size: 24px;
    margin-right: 10px;
}
.features .features-list .features-box span{
    display: inline-block;
    font-size: 24px;
    margin-right: 8px;
    text-transform: capitalize;
    color: #333;
    font-weight: 500;
}
.features .features-list .features-box span:first-of-type{
    color: #027a36;
}
@keyframes movex{
    0%{
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
100%{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
}